<mat-toolbar class="!shadow-xl sticky z-3 top-0">
    <div class="flex flex-row items-center justify-between align-center flex-auto">
        <div class="hover:text-slate-500">
            <div class="flex flex-row space-x-2 items-center">
                <img src="logo.jpeg" class="h-10"/>
                <a routerLink="/">
                    <span class="font-semibold">Nespresso Suite</span>
                </a>
            </div>
        </div>
        <div>
            <button matIconButton [matMenuTriggerFor]="menu" class="hover:text-slate-500 cursor-pointer">
            <mat-icon class="my-2">apps</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/card-reconciliation">
                    <mat-icon>credit_card</mat-icon>
                    <span>Card Reconciliation</span>
                </button>
                <button mat-menu-item routerLink="/cash-reconciliation">
                    <mat-icon>attach_money</mat-icon>
                    <span>Cash Reconciliation</span>
                </button>
                <button mat-menu-item routerLink="/cash-exchange">
                    <mat-icon>currency_exchange</mat-icon>
                    <span>Cash Exchange</span>
                </button>
                <button mat-menu-item routerLink="/coffee">
                    <mat-icon>coffee</mat-icon>
                    <span>Coffee</span>
                </button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>