<form [formGroup]="moneyBroughtIn">
    <table class="table overflow-clip bg-gray-200 shadow-md">
        <caption class="py-2 text-xl">Money Brought In</caption>
        <thead class="bg-gray-50 border-2 border-gray-200 text-sm">
            <tr>
                <th class="text-sm font-semibold tracking-wide">Type</th>
                <th class="text-sm font-semibold tracking-wide">$</th>
                <th class="text-sm font-semibold tracking-wide">Count of Bill/Rolls of Coin</th>
                <th class="text-sm font-semibold tracking-wide">Cash Value per Roll</th>
                <th class="text-sm font-semibold tracking-wide">Dollar Amount</th>
            </tr>
        </thead>
    </table>
</form>
