<div class="flex flex-row items-center justify-between">
    <h2 class="relative left-5 top-1 text-xl">{{ data.title }}</h2>
    <mat-dialog-actions class="relative top-0.5">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-dialog-actions>
</div>
<div class="px-4">
    <mat-divider />
</div>
<mat-dialog-content class="pt-5">
    @if(data.link) {
    <!-- <iframe [src]="pdfUrl" width="100%" height="100%" frameborder="0"></iframe> -->
    <div class="w-full h-full relative">
        <iframe [src]="pdfUrl" class="w-full h-full border-none left-0 top-0 absolute" title="PDF Viewer">
        </iframe>
    </div>
    }
</mat-dialog-content>
