<app-feature-container>
    <div class="flex flex-row items-center justify-between m-2 p-2">
        <p class="text-lg font-semibold text-center">
            Credit Card & Debit Card Reconciliation
        </p>
        <button class="!bg-black !text-white" mat-flat-button (click)="onResetClick()">
            Reset
        </button>
    </div>
    <div class="m-2 p-2 flex flex-col sm:flex-row justify-between space-x-4 space-y-4">
        <div class="w-full sm:w-1/2">
            <app-cash-reconciliation-table />
        </div>
        <div class="w-full sm:w-1/2">
            <app-cash-reconciliation-summary />
        </div>
    </div>
    @if(cashReconciliationStore.selectedShift() === 'Closing'){
    <div class="m-4 p-4 flex flex-col items-stretch justify-center">
        <app-cash-reconciliation-deposit />
    </div>
    }
    <div class="mt-5 flex items-center justify-center">
        <button class="!bg-black !text-white" mat-flat-button (click)="printPage()">
            Print
        </button>
    </div>
</app-feature-container>