<form [formGroup]="cardReconciliationForm">
    <!-- <div class="flex flex-row justify-between items-center my-2 py-2">
        <p class="text-lg font-semibold text-center">Credit Card & Debit Card Reconciliation</p>
        <button class="!bg-black !text-white" mat-flat-button (click)="resetForm()">Reset</button>
    </div> -->
    <div class="overflow-auto bg-gray-200 shadow-md">
        <table class="w-full hidden sm:table">
            <thead class="bg-gray-50 border-2 border-gray-200">
                <tr>
                    <th class="w-2/12 p-3 text-sm font-semibold tracking-wide text-left">Sales Desk & Till</th>
                    <th class="w-2/12 p-3 text-sm font-semibold tracking-wide text-left">POS Amount</th>
                    <th class="w-2/12 p-3 text-sm font-semibold tracking-wide text-left">Register Amount</th>
                    <th class="w-2/12 p-3 text-sm font-semibold tracking-wide text-left">Terminal Amount</th>
                    <th class="w-3/12 p-3 text-sm font-semibold tracking-wide text-left">Difference</th>
                    <th class="w-1/12 p-3 text-sm font-semibold tracking-wide text-left">Outcome</th>
                </tr>
            </thead>
            <tbody>
                @for(item of cardReconciliationStore.storeConfiguration() | keyvalue; track item.key; let i = $index) {
                <tr [class]="$index % 2 ? 'bg-gray-50' : 'bg-white' "
                    formGroupName="salesDesk{{ item.key.toString() }}">
                    <td class="p-3 text-gray-700 flex flex-col whitespace-nowrap text-lg">
                        <p>Sales Desk: <span class="text-blue-500 font-medium">{{ item.value?.salesDesk }}</span></p>
                        <p>Till No: <span class="text-blue-500 font-medium">{{ item.value?.tillNumber }}</span></p>
                    </td>
                    <td class="p-3 text-gray-700 whitespace-nowrap">
                        <mat-form-field class="w-full">
                            <mat-label>{{ item.value?.pos?.label }}</mat-label>
                            <input matInput class="w-full" type="number" [placeholder]="item.value?.pos?.label!"
                                formControlName="posAmount" (input)="onInputUpdateStoreConfiguration()" />
                        </mat-form-field>
                    </td>
                    <td class="p-3 text-gray-700 whitespace-nowrap">
                        <mat-form-field class="w-full">
                            <mat-label>{{ item.value?.register?.label!
                                }}</mat-label>
                            <input matInput class="w-full" type="number" [placeholder]="item.value?.register?.label!"
                                formControlName="registerAmount" (input)="onInputUpdateStoreConfiguration()" />
                        </mat-form-field>
                    </td>
                    <td class="p-3 text-gray-700 whitespace-nowrap">
                        <mat-form-field class="w-full">
                            <mat-label>{{ item.value?.terminal?.label!
                                }}</mat-label>
                            <input matInput class="w-full" type="number" [placeholder]="item.value?.terminal?.label!"
                                formControlName="terminalAmount" (input)="onInputUpdateStoreConfiguration()" />
                        </mat-form-field>
                    </td>
                    <td class="p-3 text-gray-700 text-right whitespace-nowrap">
                        {{ item.value?.difference | currency }}
                    </td>
                    <td class="p-3 text-gray-700 whitespace-nowrap">
                        <div class="text-sm font-medium uppercase tracking-wider">
                            @if(item.value?.outcome === 'Short'){
                            <span class="text-red-800 bg-red-200 rounded-lg bg-opacity-50 p-1.5">{{
                                item.value?.outcome }}</span>
                            }
                            @else if(item.value?.outcome === 'Over'){
                            <span class="text-blue-800 bg-blue-200 rounded-lg bg-opacity-50 p-1.5">{{
                                item.value?.outcome }}</span>
                            }
                            @else {
                            <span class="text-green-800 bg-green-200 rounded-lg bg-opacity-50 p-1.5">{{
                                item.value?.outcome }}</span>
                            }
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</form>