<form [formGroup]="cardReconciliationForm">
    <table>
        <tr>
            <th>Sales Desk & Till</th>
            <th>POS Amount</th>
            <th>Register Amount</th>
            <th>Terminal Amount</th>
            <th>Difference</th>
            <th>Outcome</th>
        </tr>
        <!-- Sales Desk A -->
        <tr formGroupName="salesDeskA">
            <td class="flex flex-col">
                <p>Sales Desk: {{ cardReconciliationStore.storeConfiguration()['A']?.salesDesk }}</p>
                <p>Till No: {{ cardReconciliationStore.storeConfiguration()['A']?.tillNumber }}</p>
            </td>
            <td>
                <mat-form-field>
                    <mat-label>POS Amount A</mat-label>
                    <input matInput class="w-full" type="number"
                        [placeholder]="cardReconciliationStore.storeConfiguration()['A']?.pos?.label!"
                        formControlName="posAmount" (input)="onInputUpdateStoreConfiguration()" />
                </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                    <mat-label>Register Amount A</mat-label>
                    <input matInput class="w-full" type="number"
                        [placeholder]="cardReconciliationStore.storeConfiguration()['A']?.register?.label!"
                        formControlName="registerAmount" (input)="onInputUpdateStoreConfiguration()" />
                </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                    <mat-label>Terminal Amount A</mat-label>
                    <input matInput class="w-full" type="number"
                        [placeholder]="cardReconciliationStore.storeConfiguration()['A']?.terminal?.label!"
                        formControlName="terminalAmount" (input)="onInputUpdateStoreConfiguration()" />
                </mat-form-field>
            </td>
            <td>
                {{ cardReconciliationStore.storeConfiguration()['A']?.difference | currency }}
            </td>
            <td>
                {{ cardReconciliationStore.storeConfiguration()['A']?.outcome }}
            </td>
        </tr>
    </table>
</form>