<form [formGroup]="cardReconciliationForm">
    <table class="w-full">
        <thead class="bg-gray-50 border-2 border-gray-200">
            <tr>
                <th class="w-2/12 p-3 text-sm font-semibold tracking-wide text-left">Sales Desk & Till</th>
                <th class="w-2/12 p-3 text-sm font-semibold tracking-wide text-left">POS Amount</th>
                <th class="w-2/12 p-3 text-sm font-semibold tracking-wide text-left">Register Amount</th>
                <th class="w-2/12 p-3 text-sm font-semibold tracking-wide text-left">Terminal Amount</th>
                <th class="w-3/12 p-3 text-sm font-semibold tracking-wide text-left">Difference</th>
                <th class="w-1/12 p-3 text-sm font-semibold tracking-wide text-left">Outcome</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-100">
            <!-- Sales Desk A -->
            <tr class="bg-white" formGroupName="salesDeskA">
                <td class="p-3 text-gray-700 flex flex-col space-y-2 whitespace-nowrap">
                    <p>Sales Desk: {{ cardReconciliationStore.storeConfiguration()['A']?.salesDesk }}</p>
                    <p>Till No: {{ cardReconciliationStore.storeConfiguration()['A']?.tillNumber }}</p>
                </td>
                <td class="p-3 text-gray-700 whitespace-nowrap">
                    <mat-form-field>
                        <mat-label>{{ cardReconciliationStore.storeConfiguration()['A']?.pos?.label! }}</mat-label>
                        <input matInput class="w-full" type="number"
                            [placeholder]="cardReconciliationStore.storeConfiguration()['A']?.pos?.label!"
                            formControlName="posAmount" (input)="onInputUpdateStoreConfiguration()" />
                    </mat-form-field>
                </td>
                <td class="p-3 text-gray-700 whitespace-nowrap">
                    <mat-form-field>
                        <mat-label>{{ cardReconciliationStore.storeConfiguration()['A']?.register?.label! }}</mat-label>
                        <input matInput class="w-full" type="number"
                            [placeholder]="cardReconciliationStore.storeConfiguration()['A']?.register?.label!"
                            formControlName="registerAmount" (input)="onInputUpdateStoreConfiguration()" />
                    </mat-form-field>
                </td>
                <td class="p-3 text-gray-700 whitespace-nowrap">
                    <mat-form-field>
                        <mat-label>{{ cardReconciliationStore.storeConfiguration()['A']?.terminal?.label! }}</mat-label>
                        <input matInput class="w-full" type="number"
                            [placeholder]="cardReconciliationStore.storeConfiguration()['A']?.terminal?.label!"
                            formControlName="terminalAmount" (input)="onInputUpdateStoreConfiguration()" />
                    </mat-form-field>
                </td>
                <td class="p-3 text-gray-700 text-right whitespace-nowrap">                    
                    {{ cardReconciliationStore.storeConfiguration()['A']?.difference | currency }}
                </td>
                <td class="p-3 text-gray-700 whitespace-nowrap">
                    <div class="text-sm font-medium uppercase tracking-wider">
                        @if(cardReconciliationStore.storeConfiguration()['A']?.outcome === 'Short'){
                            <span class="text-red-800 bg-red-200 rounded-lg bg-opacity-50 p-1.5">{{ cardReconciliationStore.storeConfiguration()['A']?.outcome }}</span>
                        }
                        @else if(cardReconciliationStore.storeConfiguration()['A']?.outcome === 'Over'){
                            <span class="text-blue-800 bg-blue-200 rounded-lg bg-opacity-50 p-1.5">{{ cardReconciliationStore.storeConfiguration()['A']?.outcome }}</span>
                        }
                        @else {
                            <span class="text-green-800 bg-green-200 rounded-lg bg-opacity-50 p-1.5">{{ cardReconciliationStore.storeConfiguration()['A']?.outcome }}</span>
                        }
                    </div>
                </td>
            </tr>
            <!-- Sales Desk B -->
            <tr class="bg-gray-50" formGroupName="salesDeskB">
                <td class="p-3 text-gray-700 flex flex-col whitespace-nowrap">
                    <p>Sales Desk: {{ cardReconciliationStore.storeConfiguration()['B']?.salesDesk }}</p>
                    <p>Till No: {{ cardReconciliationStore.storeConfiguration()['B']?.tillNumber }}</p>
                </td>
                <td class="p-3 text-gray-700 whitespace-nowrap">
                    <mat-form-field>
                        <mat-label>{{ cardReconciliationStore.storeConfiguration()['B']?.pos?.label! }}</mat-label>
                        <input matInput class="w-full" type="number"
                            [placeholder]="cardReconciliationStore.storeConfiguration()['B']?.pos?.label!"
                            formControlName="posAmount" (input)="onInputUpdateStoreConfiguration()" />
                    </mat-form-field>
                </td>
                <td class="p-3 text-gray-700 whitespace-nowrap">
                    <mat-form-field>
                        <mat-label>{{ cardReconciliationStore.storeConfiguration()['B']?.register?.label! }}</mat-label>
                        <input matInput class="w-full" type="number"
                            [placeholder]="cardReconciliationStore.storeConfiguration()['B']?.register?.label!"
                            formControlName="registerAmount" (input)="onInputUpdateStoreConfiguration()" />
                    </mat-form-field>
                </td>
                <td class="p-3 text-gray-700 whitespace-nowrap">
                    <mat-form-field>
                        <mat-label>{{ cardReconciliationStore.storeConfiguration()['B']?.terminal?.label! }}</mat-label>
                        <input matInput class="w-full" type="number"
                            [placeholder]="cardReconciliationStore.storeConfiguration()['B']?.terminal?.label!"
                            formControlName="terminalAmount" (input)="onInputUpdateStoreConfiguration()" />
                    </mat-form-field>
                </td>
                <td class="p-3 text-gray-700 text-right whitespace-nowrap">
                    {{ cardReconciliationStore.storeConfiguration()['B']?.difference | currency }}
                </td>
                <td class="p-3 text-gray-700 whitespace-nowrap">
                    <div class="text-sm font-medium uppercase tracking-wider">
                        @if(cardReconciliationStore.storeConfiguration()['B']?.outcome === 'Short'){
                            <span class="text-red-800 bg-red-200 rounded-lg bg-opacity-50 p-1.5">{{ cardReconciliationStore.storeConfiguration()['B']?.outcome }}</span>
                        }
                        @else if(cardReconciliationStore.storeConfiguration()['B']?.outcome === 'Over'){
                            <span class="text-blue-800 bg-blue-200 rounded-lg bg-opacity-50 p-1.5">{{ cardReconciliationStore.storeConfiguration()['B']?.outcome }}</span>
                        }
                        @else {
                            <span class="text-green-800 bg-green-200 rounded-lg bg-opacity-50 p-1.5">{{ cardReconciliationStore.storeConfiguration()['B']?.outcome }}</span>
                        }
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</form>