<app-feature-container>
    <div class="m-1 p-1 flex flex-col space-y-2">
        <div class="flex flex-row items-center justify-between space-y-2">
            <p class="pt-2 text-lg font-semibold text-center">
                First Aid Reference Guide
            </p>
            <div class="block">
                <button mat-flat-button class="!bg-black !text-white" type="button">
                    <a [href]="dropboxUrl" target="_blank">View PDF Guide</a>
                </button>
            </div>
        </div>
        <app-first-aid-list />
    </div>
    <!-- <div class="hidden sm:block">
        <div class="w-full h-screen relative">
            <iframe 
                [src]="pdfUrl"
                class="w-full h-full border-none left-0 top-0 absolute"
                title="PDF Viewer">
            </iframe>
        </div>
    </div> -->
</app-feature-container>