<app-feature-container>
    <div class="flex flex-col items-center space-y-2">
        <p class="py-2 text-lg font-semibold text-center">
            First Aid Reference Guide
        </p>
        <div class="block sm:hidden">
            <button mat-flat-button class="!bg-black !text-white" type="button">
                <a [href]="pdfUrl" target="_blank">Click here to view guide</a>
            </button>
        </div>
    </div>
    <div class="hidden sm:block">
        <div class="w-full h-screen relative">
            <iframe 
                [src]="dropboxUrl"
                class="w-full h-full border-none left-0 top-0 absolute"
                title="PDF Viewer">
            </iframe>
        </div>
    </div>
</app-feature-container>

