<form [formGroup]="moneySentOutForm">
    <table class="table overflow-clip bg-gray-200 shadow-md">
        <caption class="py-2 text-xl">Money Sent Out</caption>
        <thead class="bg-gray-50 border-2 border-gray-200 text-sm">
            <tr>
                <th class="w-1/6 text-sm font-semibold tracking-wide">Type</th>
                <th class="w-1/6 text-sm font-semibold tracking-wide">$</th>
                <th class="w-1/6 text-sm font-semibold tracking-wide">Count of Bill/Coin</th>
                <th class="w-3/6 text-sm font-semibold tracking-wide">Amount</th>
            </tr>
        </thead>
        <tbody>
            @for(item of sortedDenominationSentOut; track $index){
            <tr [class]="$index % 2 ? 'bg-gray-50' : 'bg-white'" [formGroupName]="item.label.toString()">
                <td class="p-1 sm:p-2 text-gray-700 text-center">
                    {{ item.denominationType }}
                </td>
                <td class="p-1 sm:p-2 text-gray-700 text-center">
                    {{ item.denomination | currency }}
                </td>
                <td class="p-1 sm:p-2 text-gray-700">
                    <mat-form-field>
                        <mat-label>Count of {{ item.denomination }}
                            {{ item.denominationType }}s
                        </mat-label>
                        <input matInput type="number" formControlName="countOfBillCoin" placeholder="Count of {{ item.denomination | currency }} {{ item.denominationType }}s" (input)="detectCountOfBillCoinInput()" />
                    </mat-form-field>
                </td>
                <td class="p-1 sm:p-2 text-gray-700 text-right">
                    {{ onCountOfBillCoinInput(item.label, item.denomination) | currency }}
                </td>
            </tr>
            }
        </tbody>
    </table>
</form>