/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@use '@angular/material' as mat;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-cash-reconciliation-table, app-cash-exchange-sent-out {
  @include mat.theme((
    typography: Roboto,
    density: -4,
  ));
}


@media print {
  body * {
    visibility: hidden;
  }

  #print-only, #print-only * {
    visibility: visible;
  }

  #print-only {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}