<form [formGroup]="cashReconciliationForm">
    <div class="overflow-auto bg-gray-200 shadow-md">
        <table class="w-full table">
            <thead class="bg-gray-50 border-2 border-gray-200">
                <tr>
                    <th class="w-1/4 text-sm font-semibold tracking-wide">Cash Denomination</th>
                    <th class="w-2/4 text-sm font-semibold tracking-wide">Count of Bill/Coin</th>
                    <th class="w-1/4 text-sm font-semibold tracking-wide">Cash Value</th>
                </tr>
            </thead>
            <tbody>
                @for(item of sortedCashDeskEntries; track $index){
                <tr [class]="$index % 2 ? 'bg-gray-50' : 'bg-white' " [formGroupName]="item.key">
                    <td class="p-3 text-gray-700">{{ item.multiplier }}</td>
                    <td class="p-3 text-gray-700">
                        <mat-form-field>
                            <mat-label>{{ item.label }}</mat-label>
                            <input matInput type="number" [placeholder]="item.label!"
                                formControlName="amount" />
                        </mat-form-field>
                    </td>
                    <td class="p-3 text-gray-700 text-right">
                        {{ item.amount | currency }}
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</form>