<div class="overflow-auto bg-gray-200 shadow-md">
    <table class="w-full table">
        <thead class="bg-gray-50 border-2 border-gray-200">
            <tr>
                <th class="w-1/3 text-sm font-semibold tracking-wide">Cash Denomination</th>
                <th class="w-1/3 text-sm font-semibold tracking-wide">Count of Bill/Coin</th>
                <th class="w-1/3 text-sm font-semibold tracking-wide">Cash Value</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>