<div class="m-2 p-2">
    <div class="flex flex-col space-y-4">
        <p class="text-xl font-semibold text-center uppercase">Available Apps (Click on App to Navigate)</p>
        <div class="grid grid-cols-2 gap-4 border-2 border-gray-400 rounded-xl shadow-md p-3">
                <a class="transition duration-200 hover:scale-115" routerLink="/card-reconciliation">
                    <div class="flex flex-col justify-center items-center space-y-2 p-3">
                        <mat-icon class="scale-200">credit_card</mat-icon>
                        <p>Card Reconciliation</p>
                    </div>
                </a>
        </div>
    </div>
</div>

