@if(firstAidStore.isLoading() === true) {
<div class="m-8 flex items-center justify-center">
    <mat-spinner />
</div>
}
@else {
<div class="p-3 m-3 border-2 border-gray-200 rounded-md bg-gray-50 shadow-md">
    <div class="w-[100%]">
        <mat-form-field class="w-full">
            <mat-label>Item Types</mat-label>
            <mat-select [formControl]="selectedTypesFormControl" [multiple]="true"
                (selectionChange)="onItemTypeSelectChange()">
                @for(item of firstAidStore.uniqueTypes(); track $index) {
                <mat-option [value]="item">{{ item }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="mt-4 mx-4 grid grid-cols-1 sm:grid-cols-4 gap-4">
    @for(item of firstAidStore.filteredFirstAidItems(); track $index) {
    <mat-card appearance="outlined">
        <mat-card-header class="flex justify-center bg-gray-200 text-gray-600 rounded-t-xl">
            <p class="relative bottom-2">{{ item.type }}</p>
        </mat-card-header>
        <mat-card-content class="!flex !flex-col !justify-stretch">
            <p class="pt-2 text-xl font-medium text-center">{{ item.itemName }}</p>
            <p class="py-2 text-center">{{ item.details }}</p>
            @if(item.photos.length > 1) {
            <mat-tab-group>
                @for(subItem of item.photos; track $index) {
                <mat-tab [label]="'Photo ' + ($index+1)">
                    <div class="pt-1 h-fit w-full">
                        <img class="h-[50%] w-full" [src]="subItem" />
                    </div>
                </mat-tab>
                }
            </mat-tab-group>
            }
            @else {
            <div class="h-fit w-full">
                <img class="h-[50%] w-full" [src]="item.photos[0]" />
            </div>
            }
        </mat-card-content>
    </mat-card>
    }
</div>
}